.k1{
    position:fixed;
    top: 0;
    left: 0;
    background: url(../../images/bg2.jpeg);
    width:100%;
    height:100%;
    z-index:-10;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0; 
    opacity: 0.6;
}
.k2{
    width:100%;
    margin: 0 auto;
    padding-top: 20%;
}
.k3{
    width: 50%;
    height: 100%;
    float: left;
    
}
.k3::after{
    clear: both;
}
.k4{
    width: 100%;
    margin:auto;
    height: 30%;
    display: flex;
    justify-content: center;

}
.k10{
    margin: 0 auto;
}
.k9{
    width: 100%;
    height: 70%;
    text-align: center;
    font-size: 15vw;
}
.k5{
    float: left;
    width: 6vw;
    height:6vw;
    line-height: 5vw;
    text-align: center;
    margin: 1%;
    position: relative;
    font-size: 6vw;
    background-color: #ffffff;
    border: 2px solid rgb(255,255,255,0);
}
.k7{
    border: 2px solid #617ca6;
}
.k5::after{
    clear: both;
}
.k6{
    position: absolute;
    left: 0;
    top:-2vw;
    width:6vw;
    height: 6vw;
    text-align: center;
    font-size: 12vw;
}
#div0-0{
    border: 2px solid #617ca6;
}


.k10{
    width:90%;
    margin: 0 auto;
    margin-top: 50%;
    margin-left: 9%;
    
}
.k11{
    width: 8%;
    padding: 1%;
    border: 1px solid #617ca6;
    border-radius: 15%;
    font-size: 5vw;
    text-align: center;
    background: #ffffff;
    float: left;
    margin-right: 5%;
    margin-bottom: 4%;

}