.ty1{
    position: relative;
    width: 100%;
    height: 10rem;
    text-align: center;
}
.ty2{
    width: 80%;
    margin: auto;
    padding-top: 3rem;
}
.ty3{
    position: absolute;
    bottom: 0;
    right: 2rem;
    height: 2rem;
}
.ty4{
    font-size: 7vw;
    font-weight: bolder;
    height: 2rem;
    line-height: 2rem;
    float: left;
}
.ty5{
    float: left;
}

.ty-grade-back{
    background-image: url(../../images/bg11.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: #f5f5f9;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
.ty-listBox{
    margin: 0 auto;
    width: 90%;
    height: 2.5rem;
    background: #fff;
    margin-top: 3%;
    border-radius: 10px;
}
.ty-text{
    float: left;
    margin-left: 1rem;
    font-size: 16px;
    line-height: 2.5rem;
}
.ty-panduan-dui{
    float: right;
    margin-right: 1.3rem;
    font-size: 15px;
    line-height: 2.5rem;
    color: green;
}
.ty-panduan-cuo{
    float: right;
    margin-right: 1.3rem;
    font-size: 15px;
    line-height: 2.5rem;
    color: red;
}
.ty-backtrue{
    color: green;
    margin-left: 2rem;
    width: 90%;
    font-size: 18px;
    margin-top: 2%;
}
.ty-backtrue>span{
    color: #000;
}
.ty-backerr{
    color: #617ca6;
    margin-left: 2rem;
    width: 90%;
    font-size: 18px;
    margin-top: 2%;
}
.ty-backerr>span:first-child{
    color: red;
}
.ty-backerr>span:last-child{
    color: #000;
}

