.guessidiombody{
  width:100%;
  height:100%;
  padding-top: 5%;
  /* background-color: rgb(229, 241, 247) */
}
.guessidiomcon{
  width:85%;
  height:100%;
  margin:0 auto;
}
.orange{
  margin-left: 40%;
  /* margin-top:5%; */
}
.orange span{
  color:red;
  font-size: 12px;
}
.guesscon{
  width:100%;
  height:80%;
  /* background-color: lightskyblue; */
  display:"inline-block";
  white-space:"pre-wrap";
}
/* .learnimg{
  opacity: 0.5;
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
} */
.idiomsleft{
  left:0;
  top:50%;
  position: fixed;
}
.idiomsleft a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.idiomsright{
  position: fixed;
  right:0;
  top:50%;
  transform: rotate(180deg);
}
.idiomsright a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
/* .black{
  font-size:22px;
  margin-left:90%
}
.yello{
  font-size:22px;
  margin-left:90%;
  color:orange
} */
.descrip{
    /* background-color:#fff; */
    width:60vw;
    height:35vw;
    margin:0 auto;
    margin-top:10%;
    font-size:6vw;
    /* border:1px solid gray;*/
    border-radius:10px;
    /* border: 7px solid transparent;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
    repeating-linear-gradient(-45deg,
    rgb(176, 219, 240) 0, rgb(176, 219, 240) 12.5%,
    transparent 0, transparent 25%,
    rgb(250, 193, 220) 0, rgb(250, 193, 220) 37.5%,
    transparent 0, transparent 50%)
    0 / 5em 5em; */
    /* font-family:"楷体" */
}
.descrip textarea{
  width:60vw;
  /* margin: 0 auto; */
  height:35vw;
  text-indent: 2em;
  resize:none;
  border-radius: 10px;
  border: 8px solid transparent;
  transform: translateX(-10px);
  padding:0.5%;
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)) padding-box,
  repeating-linear-gradient(-45deg,
rgb(176, 219, 240) 0, rgb(176, 219, 240) 12.5%,
  transparent 0, transparent 25%,
rgb(250, 193, 220) 0, rgb(250, 193, 220) 37.5%,
  transparent 0, transparent 50%)
  0 / 5em 5em;
}
.answer{
    width:65%;
    height:40%;
    margin:0 auto;
    margin-top: 15%;
    text-align: center;
}
.guessone{
    width:9vw;
    height:9vw;
    line-height:9vw;
    background-color:#fff;
    float:left;
    margin: 0 2vw;
    border:1px solid #617ca6;
    text-align: center;
    font-size:6vw ;
    border-radius: 10px;
}
.chooseguess{
  width:90%;
  height:50%;
  background: #fff;
  margin:0 auto;
  margin-top:10%;
  text-align: center;
}
.chooseone{
  width:10vw;
  height:10vw;
  background-color:#fff;
  float:left;
  margin:2vw;
  border:1px solid gray;
  font-size:6vw;
  text-align: center;
  line-height: 10vw;
  border-radius: 5px;
  box-shadow: 7px 7px 3px 0 rgb(181, 187, 196);
}
.chooseone:hover{
  box-shadow:none;
  transition-property:box-shadow;
  transition-duration: 0.7s;
  animation-name: icon-bounce;
  animation-duration: 1.5s;

}
.guessonetrue{
  width:9vw;
  height:9vw;
  line-height:9vw;
  background-color:#fff;
  float:left;
  margin: 0 2vw;
  border:1px solid #617ca6;
  text-align: center;
  font-size:6vw ;
  color:green
}
.guessonefalse{
  width:9vw;
  height:9vw;
  line-height:9vw;
  background-color:#fff;
  float:left;
  margin: 0 2vw;
  border:1px solid #617ca6;
  text-align: center;
  font-size:6vw ;
  color:red
}
.outsubmit{
 margin:0 auto;
 width:100%;
 height: 40%;
 text-align: center;
 line-height: 40%;
 margin-top: 50%;
}
.submitguess{
padding: 3%;
font-size: 18px;
text-align: center;
background-color:#6189B8;
color:#fff;
border-radius: 10px;
border:1px solid #6189B8;
margin:0 2%;
}
.pointerevent{
pointer-events: none;
}
#active{
box-shadow: 0 0 9px rgb(115, 195, 241) ;
transition-property: box-shadow;
transition-duration: 0.5s;
}
@keyframes icon-bounce {
0%, 100% {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

25% {
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

50% {
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

75% {
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

85% {
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
}