*{
    padding:0;
    margin: 0;
}
.bcsj_back{
    background-image: url(../../images/bg2.jpeg);
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    opacity: 0.6;
}
.bcsj_box{
    width: 100%;
    /* background: rgb(121, 113, 113); */
    text-align: center;
}
.bcsj_box p{
    padding: 5% 0 0 0;
}
.bcsj_text1{
    color: red;
    font-size: 12px;
}
.bcsj_poetry{
    background: #fff;
    max-width:85%;
    height: 35vw;
    margin: 0 auto;
    margin-top:5%;
    font-size: 30px;
    position: relative;
}
.bcsj_poetry_text{
    min-height:40px;
    max-width:85%;
    margin: 0 auto;
    margin-top:10%;
    border-bottom: #bbb 1px solid;
}
.bcsj_option{
    height: 30%;
    max-width:85%;
    margin: 0 auto;
    margin-top:10%;
    background: #fff;
    border:3px solid #bbb;
    border-radius: 5px;
}
.bcsj_poetry_textgreen{
    min-height:40px;
    max-width:85%;
    color:green;
    margin: 0 auto;
    margin-top:10%;
    border-bottom: #bbb 1px solid;
}
.bcsj_poetry_textred{
    min-height:40px;
    max-width:85%;
    color:red;
    margin: 0 auto;
    margin-top:10%;
    border-bottom: #bbb 1px solid;
}
.scoutsubmit{
    margin:0 auto;
    width:50%;
    height: 40%;
    text-align: center;
    line-height: 40%;
    margin-top: 20%;
 }
 .scsubmit{
   padding: 5%;
   font-size: 18px;
   width:70%;
   height: 60%;
   line-height: 60%;
   text-align: center;
   background-color:#6189B8;
   color:#fff;
   border:1px solid #6189B8;
 }