.learnidiombody{
  width:100%;
  height:100%;
  padding-top: 5%;
}
.learnidiomcon{
  width:85%;
  height:100%;

  margin:0 auto;
}
.orange{
  margin-left: 40%;
  margin-top:5%;
}
.orange span{
  color:red;
  font-size: 12px;
}
.idiomsleft{
  left:0;
  top:50%;
  position: fixed;
}
.idiomsleft a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.idiomsright{
  position: fixed;
  right:0;
  top:50%;
  transform: rotate(180deg);
}
.idiomsright a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.black{
  font-size:22px;
  margin-left:90%
}
.yello{
  font-size:22px;
  margin-left:90%;
  color:orange
}
.errcon{
  width:100%;
  height:80%;
  text-align: center;
  position: relative;
}
.erridiom{
  /* margin:0 auto;
  font-size: 37px;
  margin-top: 20%; */
  width:75vw;
  /* height:50vw; */
  padding:10px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 100% 40%;
  background-position: bottom;
  font-size: 4.5vw;
  text-align: center;
  margin: 0 auto;      
  position: relative;
  border-radius: 10px;
  border:2px dashed gray;
}
.shortpoem{
  width:55vw;
  margin:0 auto
   
}
.scerrword{
  width:18vw;
  height:18vw;
  background-image: url(../../images/true.jpg);
  background-size:100% 100%;
  font-size:3rem ;
  /* margin:0 auto; */
  text-align: center;
  line-height: 18vw;
  margin-top: 15%;
}
.erridiomred{
  margin:0 auto;
  font-size: 37px;
  margin-top: 30%;
  color:red;
}
.shiciname{
    margin-top: 10%;
    position: absolute;
    right:0;
}
.scerrcode{
    float:left;
    margin-top: 10%;
    width:20vw;
    height:33vw;
}
.scallcode{
  height:50%;
  width:50%;
  margin:0 auto;
  margin-top: 20%;
  margin-left: 28%;
}
.scallcode .clear{
  clear:both;
}
.feiji{
  width:60vw;
  height:40vw;
 
  
}
.outfeiji{ 
  margin-top:5%;
  transform: rotateZ(-10deg);
  animation-name:fly;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
@keyframes fly{
  0%{
    margin-top:5%;
  }
  50%{
    margin-top:12%;
    transform: rotateZ(-5deg);
  }
  100%{
    margin-top:5%;
    transform: rotateZ(-10deg);
  }
}

