.learnpeombody{
  width:100%;
  height:100%;
  padding-top: 5%;
}
.learnpeomcon{
  width:85%;
  height:100%;

  margin:0 auto;
}
.orange{
  margin-left: 40%;
  margin-top:5%;
}
.orange span{
  color:red;
  font-size: 12px;
}
.poemcon{
  width:100%;
  height:80%;
  display:"inline-block";
  white-space:"pre-wrap";
}
/* .learnimg{
  opacity: 0.6;
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
} */
.idiomsleft{
  left:0;
  top:50%;
  position: fixed;
}
.idiomsleft a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.idiomsright{
  position: fixed;
  right:0;
  top:50%;
  transform: rotate(180deg);
}
.idiomsright a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.black{
  font-size:22px;
  margin-left:90%
}
.yello{
  font-size:22px;
  margin-left:90%;
  color:orange
}
.poems{
    width:60vw;
    /* height:50vw; */
    padding:10px;
    background-image:url(../../images/shuimo.png);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: bottom;
    font-size: 5vw;
    text-align: center;
    margin: 0 auto;      
    position: relative;
    padding-bottom: 23%;
    border-radius: 10px;
    border:2px dashed gray;
}
.poemothers{
  width:64vw;
  height:51vw;
  font-size: 5vw;
  margin: 0 auto;
  margin-top: 15%;
}
.poemothers img{
  width:64vw;
  height:51vw;
  opacity: 0.4;
  position:fixed;
  z-index: -10;
}
.poemothers textarea{
    width:98%;
    height:50vw;
    font-size:4vw;
    background-color: rgba(255, 255, 255, 0);
    font-family: "仿宋";
    font-size: 18px;
    resize:none;
    border-top:1.5px solid gray;
    border-bottom:1.5px solid gray;
    border-left:1.5px dashed gray;
    border-right:1.5px dashed gray;
    z-index: 10;
}
.poemlaba{
  font-size:24;
  color:#617ca6;
  position: absolute;
  top:5vw;
  right:5vw;
}
