body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.learnidiombody{
  width:100%;
  height:110%;
  background: url("./images/learnbackground.jpg") no-repeat;
  padding-top: 5%;
}
.learnidiomcon{
  width:85%;
  height:80%;
  background-color: lightsalmon;
  margin:0 auto;
}
.orange{
  margin-left: 40%;
  margin-top:5%;
}
.orange span{
  color:red;
  font-size: 12px;
}
.idiomcon{
  width:100%;
  height:1000px;
  background-color: lightskyblue;
  display:"inline-block";
  white-space:"pre-wrap";
}
.idiomcon div{
  display:"inline-block";
  white-space:"pre-wrap";
  margin-top:5%;
  width:100%;
  font-size:22px;
}
