.wode_back{
    background-image: url(../../images/bg1.jpeg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
    /* opacity: 0.6; */
}
.wode_info{
    margin: 0 auto;
    width: 90%;
    background: #fff;
    margin-top: 5%;
    border-radius: 5px;
}
.wode_header{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}
.wode_tab{
    margin: 0 auto;
    width: 90%;
    height: 2.5rem;
    background: #fff;
    margin-top: 5%;
    border-radius: 10px;
}
.wode_i{
    float: left;
    line-height: 2.5rem;
    margin-left: 1rem;
}
.wode_tab_text{
    float: left;
    margin-left: 1rem;
    font-size: 15px;
    line-height: 2.5rem;
}
.wode_you{
    float: right;
    margin-right: 1.3rem;
    font-size: 15px;
    line-height: 2.5rem
}
.wode_red{
    float: right;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}
