.xxjd_box{
    margin: 0 auto;
    width: 90%;
    height: 2.5rem;
    background: #fff;
    margin-top:5%;
    border-radius: 10px;
}
.xxjd_text{
    float:left;
    margin-left:1rem;
    font-size:15px;
    font-weight: bolder;
    line-height:2.5rem;
}
.xxjd-time{
    float:left;
    margin-left:1rem;
    font-size:15px;
    line-height:2.5rem;
}
.xxjd_text_l{
    float: right;
    margin-right: 1rem;
    line-height: 2.5rem;
}
.score{
    line-height: 2.5rem;
    font-weight: bolder;
    color: red;
}
.cj-jiantou{
    margin-left: 0.5rem;
}