.idiomerrbody{
  width:100%;
  height:100%;
  padding-top: 5%;
  box-sizing: border-box;
}
.idiomerrcon{
  width:85%;
  height:100%;

  margin:0 auto;
}
.orange{
  margin-left: 40%;
  margin-top:5%;
}
.orange span{
  color:red;
  font-size: 12px;
}
/* .learnimg{
  opacity: 0.6;
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
} */
.idiomsleft{
  left:0;
  top:50%;
  position: fixed;
}
.idiomsleft a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.idiomsright{
  position: fixed;
  right:0;
  top:50%;
  transform: rotate(180deg);
}
.idiomsright a{
  color:black;
  font-size: 20px;
  font-weight: bolder;
}
.black{
  font-size:22px;
  margin-left:90%
}
.yello{
  font-size:22px;
  margin-left:90%;
  color:orange
}
.errcon{
  width:100%;
  height:80%;
  text-align: center;
}
.erridiom{
  margin:0 auto;
  font-size: 37px;
  margin-top: 20%;
}
.errword{
  width:4rem;
  height:4rem;
  background-image: url(../../images/true.jpg);
  background-size:100% 100%;
  font-size:3rem ;
  margin:0 auto;
  text-align: center;
  line-height: 4rem;
  margin-top: 15%;
}
.erridiomred{
  margin:0 auto;
  font-size: 37px;
  margin-top: 30%;
  color:red;
}
.feiji{
  width:60vw;
  height:40vw;
 
  
}
.outfeiji{ 
  margin-top:5%;
  transform: rotateZ(-10deg);
  animation-name:fly;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
@keyframes fly{
  0%{
    margin-top:5%;
  }
  50%{
    margin-top:12%;
    transform: rotateZ(-5deg);
  }
  100%{
    margin-top:5%;
    transform: rotateZ(-10deg);
  }
}

